:root {
  --rojo: #d03b40;
  --beige: #ded6c0;
  --blanco: #f5f0ed;
  --gris: #241d1b;
  --txtClaro: #f5f0ed;
  --txtOscuro: #3c3c3b;

  --typeH1: 4.4rem;
  --typeH2: 2.8rem;
  --typeH3: 2.4rem;
  --squareTxt: 1.6rem;
  --buttons: 1.4rem;
}

/* --Header-- */
.header {
  background-color: var(--rojo);
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
}

.principal-navegation {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.principal-navegation a {
  color: var(--txtClaro);
  text-decoration: none;
  font-size: var(--squareTxt);
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}

.principal-navegation a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

@media (min-width: 769px) {
  .header {
    flex-direction: row;
  }

  .principal-navegation {
    flex-direction: row;
    align-items: flex-end;
    padding-top: 1rem;
  }
}

/* --Parte 1-- */
.description-part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--txtClaro);
  background-image: url(../img/Fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 62rem;
}

.big-title {
  font-size: var(--typeH1);
  text-transform: uppercase;
}

.text-ordinary {
  font-size: var(--squareTxt);
  width: auto;
  margin-bottom: 5rem;
}

@media (min-width: 769px) {
  .text-ordinary {
    width: 50%;
  }
}

/* --Parte 2-- */
.description-part-2 {
  display: flex;
  flex-direction: column;
}

.square-1,
.square-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 3rem;
}

.square-1-title,
.square-2-title {
  text-transform: uppercase;
}

.square-1 {
  background-color: var(--rojo);
  color: var(--beige);
}

.square-2 {
  background-color: var(--beige);
  color: var(--rojo);
}

@media (min-width: 769px) {
  .description-part-2 {
    flex-direction: row;
  }

  .square-1,
  .square-2 {
    width: 50%;
    padding: 10rem;
  }
}

/* --Part 3-- */

.description-part-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--txtClaro);
  background-image: url(../img/Fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 62rem;
}

.button-breakfast {
  text-transform: uppercase;
  border: 0.3rem var(--blanco) solid;
  border-radius: 0.5rem;
  padding: 1.5rem;
  font-size: var(--squareTxt);
}

.button-breakfast:hover {
  background-color: var(--rojo);
  font-weight: 700;
  cursor: pointer;
}

/* --Part 4-- */
.description-part-4 {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: var(--blanco);
}

.form-cake {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.content-txt {
  color: var(--txtOscuro);
  width: auto;
  text-align: justify;
}

.content-txt h1 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

@media (min-width: 769px) {
  .description-part-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form-cake {
    width: 100%;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  .content-txt {
    text-align: start;
    width: 50%;
  }
}

/* --Parte 5-- */
.description-part-5 {
  display: flex;
  flex-direction: column;
}

.description-part-5 .square-1 {
  background-color: var(--beige);
  color: var(--rojo);
}

.description-part-5 .square-2 {
  background-color: var(--rojo);
  color: var(--beige);
}

@media (min-width: 769px) {
  .description-part-5 {
    flex-direction: row;
  }
}

/* --Footer-- */
.footer {
  background-color: var(--txtOscuro);
  color: var(--txtClaro);
  display: inline-block;
  width: 100%;
  padding: 5rem;
}
